.outfit-generator span {
	font-size: 1.2rem;
}

.outfit-generator h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.outfit-generator .outfit-row {
	display: flex;
	flex-flow: column;
}

.outfit-generator .outfit-row .articles-container {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.outfit-generator .article-simple {
	--mobile-width: 90%;
	--tablet-width: 49%;
	--desktop-width: 49%;
	--large-desktop-width: 49%;
}

.outfit-generator .message {
	text-align: center;
}