.specific-kind-radio input[type='radio'] + label {
	font-size: .75rem;
}

@media all and (min-width: 750px) {
	.specific-kind-radio input[type='radio'] + label {
		font-size: 1rem;
	}
}

.temp-inputs-container input {
	width: 48%;
}

.temp-inputs-container input:first-of-type {
	margin-bottom: .75rem;
}


.small-articles-container {
	display: flex;
	flex-flow: row;
	justify-content: left;
	flex-wrap: nowrap;
	overflow: scroll;
}

.small-articles-container .small-article:first-of-type {
	margin-left: 0;
}

.small-articles-container .small-article:last-of-type {
	margin-right: 0;
}

input[type='search'] {
	margin-bottom: .3rem;	
}