:root {
	--header-height: 3.5rem;
}

header {
	width: 100%;
	height: var(--header-height);
	line-height: var(--header-height);
	/*border-bottom: .1rem solid var(--drobe-blue);*/
	padding: .2rem 1rem;
	position: relative;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	box-sizing: border-box;
}

header a.title {
	font-family: var(--title-font);
	font-size: 2.5rem;
	color: var(--drobe-blue);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1rem;
	word-spacing: -.4rem;
	width: 11.5rem;
	line-height: 3.2rem;
	flex-shrink: 0;
}

header canvas {
	position: absolute;
	bottom: 0;
	left: 0;
}

header nav.nav-drawer {
	background-color: #fff;
	width: 12rem;
	height: 100vh;
	border-right: var(--drobe-blue);
	padding-top: 5rem;
	padding-left: 2rem;
	display: flex;
	flex-flow: column;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	box-sizing: border-box;

	transition: left .3s ease-out;
}

header nav.nav-drawer.hidden {
	left: -14rem;
}

header nav.nav-bar {
	display: none;
}

header nav a {
	font-family: var(--header-font);
	color: var(--nearly-black);
	text-decoration: none;
	display: inline-block;
}

header nav a.active {
	color: var(--drobe-blue);
}

header nav a:hover {
	color: var(--drobe-blue);
}

@media all and (min-width: 765px) {
	header nav.nav-drawer {
		display: none;
	}

	header button.button-toggle-nav-drawer {
		display: none;
	}

	header nav.nav-bar {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	header nav.nav-bar.logged-in {
		width: 17rem;
	}
	header nav.nav-bar.logged-out {
		width: 9rem;
	}
}