:root {
	--dark-drobe-blue: #1ba6d1;
	--dark-drobe-blue-shadow: #1697bf;
	--drobe-blue: #1bb8d1;
	--nearly-white: #fafafa;
	--light-gray: #d9e1e2;
	--gray: #a7a7a7;
	--dark-gray: #888888;
	--nearly-black: #202020;
	--default-text-color: var(--nearly-black);
	--default-background-color: #fff;

	--drobe-blue-gradient: linear-gradient(to right, var(--drobe-blue), var(--dark-drobe-blue));

	--default-border-width: .1rem;
	--default-border: var(--default-border-width) solid var(--light-gray);

	--default-transition: .1s ease-out;

	--title-font: Monoton, sans-serif;
	--header-font: Open Sans, sans-serif;
	--body-font: Open Sans, sans-serif;
}

html {
	height: 100%;
}

main {
	padding-top: 1rem;
	box-sizing: border-box;
}

body {
	font-family: var(--body-font);
	color: var(--default-text-color);

	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	color: var(--gray);
	font-family: var(--header-font);
	text-align: center;
	font-weight: 300;

	margin: .5rem 0 1.5rem;
}

.title {
	font-family: var(--title-font);
	font-size: 2.5rem;
	color: var(--drobe-blue);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1rem;
	word-spacing: -.5rem;
	width: 11.5rem;
	line-height: 3.2rem;
	flex-shrink: 0;
}


button {
	color: var(--nearly-black);
	font-size: .8rem;
	font-weight: 200;
	letter-spacing: .03rem;
	height: 2rem;
	border: none;
	padding: .4rem .8rem;
	outline: 0;
	transform: translate(-.1rem, -.1rem);
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: translate(0, 0);
}

.btn-primary {
	color: var(--nearly-white);
	background-color: var(--drobe-blue);
	border-radius: .1rem;
}

.btn-secondary {
	background-color: var(--light-gray);
	border-radius: .1rem;
}

.btn-danger {
	color: var(--nearly-white);
	background-color: red;
	border-radius: .1rem;
}

.accented {
	color: var(--drobe-blue) !important;
}