.small-article {
	--small-article-margin: .25rem;
	--small-article-size: 10rem;
	--small-article-inner-size: 9.7rem;
	background-color: var(--default-background-color);
	width: var(--small-article-size);
	min-width: var(--small-article-size);
	height: var(--small-article-size);
	border: var(--default-border);
	border-radius: .1rem;
	padding: .5rem;
	margin: 0 var(--small-article-margin);
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	box-sizing: border-box;

	transition: var(--default-transition);
}

.small-article:hover {
	border-color: var(--drobe-blue);
	cursor: pointer;
}

.small-article .click-icon {
	color: var(--drobe-blue);
	background-color: #ffffffaa;
	font-size: 5rem;
	text-align: center;
	width: var(--small-article-inner-size);
	height: 99%;
	line-height: var(--small-article-inner-size);
	opacity: 0;
	position: absolute;
	top: 0;
	left: var(--default-border-width);
	transition: .15s ease-out;
}

.small-article:hover .click-icon {
	opacity: 1;
}

.small-article .img-container {
	width: 90%;
	margin: 0 auto .25rem;
	overflow: hidden;
}

.small-article .img-container img {
	width: 100%;
}

.small-article .name {
	text-align: center;
}