.content {
	width: 90%;
	margin: 0 auto;
}


.content .location {
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}
.content .location span {
	font-size: 1.2rem;
	margin: 0 auto;
}
.content .location button {
	margin: 0 auto;
}


.content .weather-data {
	margin: 0 auto;
	width: 70%;
}

.content .weather-data .summary {
	margin-bottom: .5rem;
	display: flex;
	justify-content: center;
}

.content .weather-data .temperature {
	width: 15rem;
	margin: 0 auto .5rem;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.content .weather-data .temperature .main-temperature {
	font-size: 3rem;
	line-height: 3rem;
	padding: 0 1rem;
	box-sizing: border-box;
}
.content .weather-data .temperature .side-temperature {
	font-size: .75rem;
	line-height: .9rem;
	display: flex;
	flex-flow: column;
}

.content .weather-data .rain {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.content .weather-data .rain {
	text-align: center;
}

.content .weather-data .powered-by span, .content .weather-data .powered-by a {
	color: var(--gray);
	font-size: .75rem;
}

.content .weather-data .powered-by span {
	margin-top: 1rem;
	float: right;
}